PORT=3000
DB_HOST=tu_host_aqui
DB_PORT=12607
DB_USERNAME=avnadmin
DB_PASSWORD=tu_password_aqui
DB_DATABASE=defaultdb
DB_SYNCHRONIZE=false
DB_LOGGING=false
DB_SSL=true

ADMIN_USERNAME=admin
ADMIN_PASSWORD=super
JWT_SECRET=super-secret
JWT_EXPIRES_IN=3600s
